@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local('Sonsie One'), local('SonsieOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/sonsieone/v3/EL7Rcl854lo1-oEwLR8r0hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
